:root {
    font-size: 16px;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: black;
}
main {
    max-width: 1200px;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}


/* nav bar */
nav {
    height: 56px;
    position: fixed;
    background-color: rgb(38, 39, 40);
    top: 0;
    width: 100%;
    display: flex;
    z-index: 10;
}
nav ul {
    height: 56px;
    margin: auto;
    justify-content: center;
    display: flex;
}
nav li {
    padding-top: 20px;
}
nav a{
    color: white;
    padding: 10px 20px;
    text-align: center;
}



/* Cards of the student work: */
.card {
    height: 240px;
    width: 200px;
    background-color: rgb(206, 206, 206);
    margin: 6px;
    float: left;
    position: relative;
    text-align: center;
    transition: 0.5s;
    box-shadow: 1px 4px 20px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
    z-index: 9;
    cursor: pointer;
}
.project-link {
    position: absolute;
    bottom: 71px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    color: royalblue;
}

.links {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    padding-top: 8px;
}
.links p {
    width: 100%;
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 0.8rem;
}
.card h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.btn {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 40%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px auto;
    font-size: 0.75rem;
    float: left;
    margin-left: 6%;
    border-radius: 20px;
    filter: opacity(0.65);
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.171);
    filter: opacity(1);
}
section ul {
    margin-top: 40px;
}

section {
    clear: left;
    position: relative;
    display: block;
    height: auto;
    padding-top: 100px;
}
section .title {
    text-align: center;
}
